.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
}

.modal.active {
    transform: scale(1);
}

.modal__content {
    padding: 20px;
    border-radius: 25px;
    background-color: whitesmoke;
}

.incorrect {
    border-color: red !important;
}

.hidden{
    display: none;
}

.warning{
    color: #fc5f5f;
}

.btn{
    width: calc(50% - 10px);
    height: 50px;
    border-radius: 25px;
}

.mode{
    border: 2px solid #fc5f5f;
    background-color: #5a5aec;
}

.cancel{
    border: 2px solid #5a5aec;
    background-color: #fc5f5f;
    margin-left: 10px;
}